@font-face {
  font-family: Amaranth-Regular;
  src: url(../fonts/Amaranth-Regular.ttf);
}

@font-face {
  font-family: Roboto-Thin;
  src: url(../fonts/Roboto-Thin.ttf);
}

#main {
  text-align: center;
  margin: 8px;
}

#main h1 {
  font-family: "Amaranth-Regular";
  color: #949494;
}

#main h2 {
  font-family: "Roboto-Thin";
  color: #898989;
}

#main p {
  text-align: justify;
}

#wrapper {
  max-width: 968px;
  margin: auto;
  color: #454545;
}
