extends ../layout.pug

block head
  title= "FSCI (Free Software Community of India)"

block content
  #wrapper.container
    #main.row
      h1 Free Software User Groups in India
      #mapid
      ol#preamble-list
        li Free Software Community of India is a collective of Free Software (sometimes also called as Open Source Software) users, advocates and developers.
        li We maintain communication and collaboration infrastructure for everyone that respects their freedom and privacy. We maintain a list of Free Software communities and offer sub domains of fsug.in or fosscommunity.in. We depend on donations and community manpower to run the infrastructure.
        li We mentor Free Software enthusiasts to become Free Software contributors.
        li We provide GNU/Linux installation and configuration support mainly via online messaging groups.
      p
        |Join the conversation at our 
        a(href='https://matrix.to/#/#fsci:matrix.org', target='__blank') matrix chat room
      p
        |  Collaborate with us on our 
        a(href='https://www.loomio.org/g/esPoQ4S0/free-software-community-of-india-fsci-', target='__blank')  loomio group
        |  or 
        a(href='https://wiki.fsci.org.in', target='__blank') wiki
      p
        |If you need a subdomain or want to list your community in the map please 
        a(href='mailto:fosscommunity.in@disroot.org') mail to FSCI
        |  with sufficient details of your community or 
        a(href='https://gitlab.com/fsci/fsci.org.in/blob/master/js/locations.js', target='__blank') edit this list
        |.
      #improve
        a(href='https://gitlab.com/fsci/fsci.org.in', target='_blank')
          img(src='img/code.png')
          span  Improve this page
