extends ../layout.pug

block head
  title= "FSCI Events"

block content
  .container.bootcards-container.push-right
    // This is where you come in...
    // I've added some sample data below so you can get a feel for the required markup
    .row
      // left list column
      #list.col-sm-12.bootcards-list(data-title='Contacts')
        .panel.panel-default
          .panel-body
            .search-form
              .row
                .col-xs-9
                  | &nbsp;
                  //-.form-group
                    input.form-control(type='text', placeholder='Search Contacts...')
                    i.fa.fa-search
                .col-xs-3
                  a.btn.btn-primary.btn-block(href='#')
                    i.fa.fa-plus
                    span Add
          // panel body
          .list-group
            // list of sample data
            for event in events.events
              a.list-group-item(href='/events/' + event.id + '.html')
                img.img-rounded.pull-left(src=event.imgurl)
                h4.list-group-item-heading= event.name
                p.list-group-item-text!= event.locationame 
