extends ../layout.pug

block head
  title= "FSCI Events"

block content
  .container.bootcards-container.push-right
    .row
      // left list column
      //-#list.col-sm-5.bootcards-list(data-title='Contacts')
        .panel.panel-default
          .panel-body
            .search-form
              .row
                //-.col-xs-9
                  .form-group
                    input.form-control(type='text', placeholder='Search Contacts...')
                    i.fa.fa-search
                .col-xs-3
                  a.btn.btn-primary.btn-block(href='#')
                    i.fa.fa-plus
                    span Add
          // panel body
          .list-group
            // list of sample data
            for event in events.events
              a.list-group-item(href='/events/' + event.lat + '.' + event.lng + '.html')
                img.img-rounded.pull-left(src=event.imgurl)
                h4.list-group-item-heading= event.name
                p.list-group-item-text!= event.locationame
      .col-sm-12.bootcards-cards
        // contact details
        #contactCard.col-sm-4
          .panel.panel-default
            .panel-heading.clearfix
              h3.panel-title.pull-left Contact Details
              .btn-group.pull-right.visible-xs
                a.btn.btn-primary(href='#', data-toggle='modal', data-target='#editModal')
                  i.fa.fa-pencil
                  span Edit
            .list-group
              .list-group-item
                label= "NAME" 
                h4.list-group-item-heading= evt.name
              .list-group-item
                label= "LOCATION"
                a(href="http://www.openstreetmap.org/?mlat=" + evt.lat + "&mlon=" + evt.lng + "&ref=FSCI") 
                  h4.list-group-item-heading= evt.locationname
              .list-group-item
                label= "ORGANIZED BY" 
                h4.list-group-item-heading= evt.organizedby
              .list-group-item
                label= "DATETIME" 
                h4.list-group-item-heading= evt.when
              .list-group-item
                label= "CONTACT INFO" 
                h4.list-group-item-heading= evt.contactinfo

        .panel.panel-default.bootcards-richtext.col-sm-8
          .panel-heading
            h3.panel-title Description
          .panel-body!= evt.description
            p.lead
              img(src=evt.imgurl, alt=evt.name)
